* {
    /* Reseteo */
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

h1 {
    margin: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.redLabel {
    color: red;
    font-weight: bold;
    font-size: large;
}

.greenLabel {
    color: rgb(48, 223, 71);
    font-weight: bold;
    font-size: large;
}

@mixin backgroundImage($picture_path) {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url($picture_path);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.2;
    filter: alpha(opacity=40);
    height: 100%;
    width: 100%;
}

.backgroundImageIdx,
.backgroundImageGame {
    z-index: 1;
    padding: 20px;
}

.backgroundImageIdx:before {
    @include backgroundImage("../img/letters.jpg");
}

.backgroundImageGame:before {
    @include backgroundImage("../img/fallingLetters.jpg");
}

.fullWidth {
    width: 100%;
}

.formLabel {
    display: inline-block;
    font-size: large;
    margin-bottom: 5px;
}

.formDiv {
    width: 50%;
    /* 2/3 of the screen width */
    display: flex;
    justify-content: right;
}

form {

    text-align: left;
    border: 3px solid #007bff;
    border-radius: 10px;
    padding: 30px;
    max-width: 330px;
    background-color: white;

    input,
    textarea {
        padding: 5px;
        font-size: large;
        margin-bottom: 40px;
    }

    .form-control {
        border: none;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 2px solid #007bff;
        /* Change the color if desired */
    }

    .form-control:focus {
        border: none;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 2px solid #0ea00e;
        /* Change the color if desired */

    }

    margin-top: 30px;
}

.buttonsDiv {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.buttonClass {
    display: none;
    padding: 15px;
    font-size: larger;
    font-weight: 500;
    margin: 30px;
}

#reglasDiv {
    display: none;
    padding: 50px;

    p {
        font-size: large;
        font-weight: 500;
    }
}

.scoresDiv {
    padding: 20px;
    max-width: 480px;
}

.scrollable-list {
    max-height: 300px;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

.ulElement {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.ulColumn {
    flex: 1;
    padding: 5px;
    font-size: larger;
}

.roundedButton {
    padding: 5px;
    border-radius: 5px;
}
.addLetter{
    justify-content: space-between;
}

.gameDiv{
    display: inline-flex;
}