* {
    /* Reseteo */
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

h1 {
    margin: 20px;
    font-size: xx-large;
    font-style: italic;
}

.formLabel {
    display: inline-block;
    width: 250px;
    padding: 5px;
    font-size: large;
    margin: 20px;
}

form {
    text-align: left;

    input,
    textarea {
        padding: 5px;
        font-size: large;
        margin: 20px;
    }

    margin-top: 30px;
}

.buttonsDiv {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.buttonClass {
    display: none;
    padding: 15px;
    font-size: larger;
    font-weight: 500;
    margin: 30px;
}

#reglasDiv {
    display: none;
    padding: 50px;

    p {
        font-size: large;
        font-weight: 500;
    }
}